
@{
    ViewBag.Title = "About";
    ViewBag.PageDescription = "About Page";
}

<div class="callout callout-info">
    <h4>American International University-Bangladesh</h4>
    <p>
        American International University-Bangladesh commonly known as AIUB is an accredited and renowned private university located at Kuratoli Road, Kuril in Dhaka, Bangladesh. The university is an independent organization with own Board of Trustees. It offers several degree programs at graduate and undergraduate level
    </p>
</div>

@section UmsScripts{ }