@{
    ViewBag.Title = "Home";
    ViewBag.PageDescription = "Home Page";
}

<div class="callout callout-info">
    <h4>We have just launched the portal</h4>
    <p>
        More stunning features are coming soon!
    </p>
</div>

@section UmsScripts{ }