@{
    ViewBag.Title = "Admin | Dashboard";
    ViewBag.PageDescription = "Dashborad";
}

<div class="callout callout-info">
    <h4>Welcome Admin</h4>
    <p>
        TBA
    </p>
</div>

@section UmsScripts{ }